

header{
    background-color:  black;
    display: flex;
    position: sticky;
    top: 0%;
    left: 100%;
    width: 500PX;
    border: 4px solid aliceblue;
}

a{
    color: aliceblue;
    padding: 10px;
    margin-right:65px;
    margin-left: 20px;

}

 ul{
    color: aliceblue;
    display: flex;
   
}

#titulo{
    color: aliceblue;
    width: 600px;
    font-size: 30px;
    text-align: center;
    position:relative;
    margin-top: 50% ;
    margin-left: 40%;
    

}

/*COMO PONER LA IMAGEN CENTRADA*/
body{
   background-image:url(../img/imagen1.jpg);
   background-size:100%;
   height: 100%;
}

footer{
    display: flex;
    justify-content: end;
    bottom:0%;
    right: 100%;
    color: white;
    font-size: 30px;
}

/*@media(min-width:768px)*/

@media only screen and (max-width: 600px)



